@import uk.gov.hmrc.agentdemofrontend.config.AppConfig
@import uk.gov.hmrc.agentdemofrontend.controllers.routes.LandTaxController
@(postcode: String, calculatedAmount: Double, value: Double)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentdemofrontend.views.html.main_template(appConfig, title = Messages("quick_calc.calculation.title"), bodyClasses = None) {
<div class="grid-row">
    <div class="column-two-thirds">

        <div class="transaction-banner--complete">
            <p>
                Your PostCode is: <br>
                <strong class="heading-medium">@postcode</strong>
            </p>
            <p>
                The value of the property is: <br>
                <strong class="heading-medium">£ @value</strong>
            </p>
            <p>
                In total you pay: <br>
                <strong class="heading-medium">£ @calculatedAmount</strong>
            </p>
        </div>

        <a href="@LandTaxController.showSalaryForm" class="button">Start Again</a>
    </div>
</div>

<br>
<br>
<div>
    <a href="/land-value-tax-calculator/explanation">explanatory notes</a>
</div>
}
