@import uk.gov.hmrc.agentdemofrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.agentdemofrontend.controllers.routes.RelationshipsController
@import uk.gov.hmrc.agentdemofrontend.controllers.RelationshipDetails

@(detailsForm: Form[RelationshipDetails], messageOpt: Option[String]= None)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentdemofrontend.views.html.main_template(
    appConfig,
    title = "Cleanup CESA copy status from DB (if any)",
    bodyClasses = None) {

    @form(
        action = uk.gov.hmrc.agentdemofrontend.controllers.routes.RelationshipsController.cleanCopyStatusRecord,
        'class -> "form js-form") {

    <div class="form-field">

        <h3>@messageOpt.getOrElse("")</h3>

        <div class="form-field">
        @input(detailsForm("arn"), '_label -> "Arn", '_inputClass -> "input--medium input--cleared")
        </div>

        <div class="form-field">
        @input(detailsForm("clientId"), '_label -> "Client ID", '_inputClass -> "input--medium input--cleared")
        </div>

        <input class="button" type="submit" id="subscribe" value="Cleanup copy status">
    </div>
    }

    <p><a href="@RelationshipsController.start">Skip and return to the start page.</a></p>
}