@import uk.gov.hmrc.agentdemofrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.agentdemofrontend.controllers.routes.RelationshipsController
@import uk.gov.hmrc.agentdemofrontend.controllers.RelationshipDetails

@(detailsForm: Form[RelationshipDetails], errorOpt: Option[String]=None)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentdemofrontend.views.html.main_template(
appConfig,
title = "Create Agent-Client Relationship",
bodyClasses = None) {

@form(
action = uk.gov.hmrc.agentdemofrontend.controllers.routes.RelationshipsController.create,
'class -> "form js-form") {

<fieldset class="form-group">
    <h3>
        @errorOpt.getOrElse("")
    </h3>

    <div class="form-field">
        @input(detailsForm("arn"), '_label -> "Arn", '_inputClass -> "input--medium input--cleared")
    </div>

    <div class="form-field">
        @input(detailsForm("clientId"), '_label -> "Client ID", '_inputClass -> "input--medium input--cleared")
    </div>

</fieldset>

<div class="form-field">
    <input class="button" type="submit" id="create" value="Create Relationship">
</div>
}
}