@import uk.gov.hmrc.agentdemofrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.agentdemofrontend.controllers.routes.LandTaxController
@import uk.gov.hmrc.agentdemofrontend.controllers.LandDetails
@(detailsForm: Form[LandDetails])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@periodLabels = @{List("Residential","Commercial")}
@radioFieldPeriod = @{ detailsForm("period") }

@uk.gov.hmrc.agentdemofrontend.views.html.main_template(appConfig, title = Messages("salary.title"), bodyClasses = None) {


@form(
action = LandTaxController.submitSalaryForm,
'class -> "form js-form") {

<fieldset class="form-group">

    <div class="form-field">
        @input(detailsForm("postcode"), '_label -> Messages("salary.postcode"), '_inputClass -> "input--medium input--cleared")
    </div>

    @for(label <- periodLabels) {
    <label class="block-label selection-button-radio">@Messages(s"quick_calc.salary.$label.label")
        <input type="radio"
               name="period"
               id="@label"
               value="@Messages(s"quick_calc.salary.$label.label")"
        @if(radioFieldPeriod.value.contains(Messages(s"quick_calc.salary.$label.label"))) { checked="checked" } />
    </label>
    }


</fieldset>

<div class="form-field">
    <input class="button" type="submit" id="subscribe" value="Continue">
</div>
}
}
